<div class = "container text-center">
    <h1>About Page</h1>
    <p> We are DevMatch. Our company focuses on creating an exclusive community for developers and entrepreneurs to meet. Lorem 
    ipsum dolor sit amet, consectetur adipisicing elit. Asperiores mollitia officiis porro voluptatibus perferendis atque libero 
    veniam minima! Ad, pariatur reprehenderit enim mollitia id natus repellendus laborum consectetur ullam dolores.</p>
</div>