<div class = "container text-center">
  <h1 class="bold">About Us</h1>
  <p> We are DevMatch. Our company focuses on creating an exclusive community for developers, investors, and entrepreneurs to meet. 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, autem, laboriosam blanditiis corrupti porro hic harum ullam 
  voluptatum corporis praesentium voluptatibus atque distinctio! Necessitatibus, ullam, beatae nihil minima quod in.</p>
</div>